


.hardware-pane .title {
    width: 127px;
    height: 36px;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #7B818A;
    margin: 20px;
}


.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 16px; */
    margin: 1.5em;
}

.hardware-target{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7B818A;
    padding-top:0.5em;
    
}

.button{
    margin-top: 15px 0;
    position: static;
    width: 60px;
    height: 32px;
    border: none;
    background: #0180FF;
    color:#FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.table{
    display:grid;
    grid-template-columns: 256px 256px 150px 256px;
    grid-template-rows: 32px;
    text-align: start;
    padding-left: 25px;
}
.table .table-header{ 
   
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7B818A;
   
}
.table .header-first{
    color: #0180FF;
}

.select-hardware{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px; */
    display:grid;
    grid-template-columns: 256px 256px 150px 256px;
    grid-template-rows: 32px;
    text-align: start;
    padding-left: 22px;
  
}

.dropdown {
    width: 230px;
    height: 38px;
    left: 0px;
    top: 0px;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    text-align: left;
    /* padding: 6px 10px 0; */
   background: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   line-height: 20px;
}

.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0px;
  width: 256px;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
   0px 4px 6px -2px rgba(0, 0, 0, 0.05),
   0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.active-list{
    border: none;
    background: #FFFFFF;
    position: static;
    left: 12px;
    top: 8px;
    font-size: 14px;
    line-height: 20px;
}

.inactive{
    display: none;
}