@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Inter',sans-serif;
    background: #FFFFFF;
    font-style: normal;
    color:#111827;
}


.text-dark{
  color:#555B62;
}
.text-grey{
  color: #7B818A;
}

.text-green{
    color: #4DB396;
}
.active-button{
  background: #0180FF;
  color:#FFFFFF;
  cursor: pointer;
}
.inactive-button{
  color: #ADAFB3;
  background: #D0D1D2;
}